@model LocalBussPassLibrary.Common.AdminReport
| <a href="/logout">Logout</a>

<section class="vh-100" style="background-image: url('https://media.istockphoto.com/photos/chhatrapati-shivaji-picture-id667564382?k=20&m=667564382&s=612x612&w=0&h=CmUbMKkhjFdq09GWI6nrlmy-thQDmEF-EcY1djvyqFM='); background-repeat: no-repeat; background-position: center; background-size: cover; ">
    <form action="/" method="get">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3>Total Pass Generated : @Model.totalPass</h3>
                            <h3>Total Payment : Rs. @Model.totalPayment</h3>
                            <a href="/adminhome">Return to Admin Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

